<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/accueil.css">
    <title>Accueil - Réservation de Maisons ou d'Appartements</title>
</head>
<body>

<header>
    <h1>Bienvenue sur la Plateforme de Réservation de Maisons</h1>
    <p><%= introText %></p>
</header>

<main>
    <!-- Section des meilleures offres -->
    <section>
        <h2>Nos Meilleures Offres</h2>
        <div class="property-list">
            <div class="property-card">
                <img src="images/maison-bord-mer-floride.jpg" alt="Maison au bord de la mer">
                
            </div>
        </div>
    </section>

    

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Réservez votre Maison. Tous droits réservés.</p>
        <ul class="footer-links">
            <li><a href="/about">À propos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/terms">Conditions d'utilisation</a></li>
        </ul>
    </div>
</footer>

</body>
</html>
