<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/terms.css">
    <title>Conditions d'utilisation</title>
</head>
<body>

<header>
    <h1>Conditions d'utilisation</h1>
</header>

<main>
    <section>
        <p><%= introText %></p>
    </section>
</main>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Réservez votre Maison. Tous droits réservés.</p>
        <ul class="footer-links">
            <li><a href="/about">À propos</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/terms">Conditions d'utilisation</a></li>
            
        </ul>
    </div>
</footer>

</body>
</html>
